<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

      


        

        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".NewsFeed.NewsEmpty"></activity>
        <activity android:name=".NewsFeed.NewsSavedFragment" />
        <activity android:name=".Dictionary.Dictionary" />
        <activity android:name=".Dictionary.Dictionary_definition" />
        <activity android:name=".NewYorkTimes.saved_list_newyork" />
        <activity android:name=".NewYorkTimes.seved_activity_newyork" />

        <activity android:name=".NewsFeed.NewsSavedArticle" />
        <activity android:name=".NewsFeed.NewsArticle" />
        <activity android:name=".NewsFeed.NewsFeed" />
        <activity android:name=".Flight.FlightDetailActivity" />
        <activity android:name=".Flight.FlightMainActivity" />
        <activity android:name=".NewYorkTimes.activity_newyork" />
        <activity android:name=".NewYorkTimes.Empty_newyork" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>